<h2 style="text-align:center">Start building your library now</h2> 

<form action="/signup" method="POST">
<label>Username:</label>
<input type="text" name="username" placeholder="Your Name:">
<br>
<label>Email:</label>
<input type="text" name="email" placeholder="Email:">
<br>
<label>Password:</label>
<input type="text" name="password" placeholder="Password:">
<br>
<br>
<input type="submit" name="Sign Up">
</form>