<div class="container">
    <!-- SIGN UP / SIGN IN -->
    <form id="signup" action="/signup" method="POST">
    <div class="input-area">
      <input type="text" name="name" placeholder="name" required></input>
      <input type="text" name="email" placeholder="email" required></input>
      <input type="password" name="password" placeholder="password" required></input>
    </div>
      <input  type="submit" name="signup" value="signup">
    </form>

    <form id="login" action="/login" method="POST">
    <div class="input-area">
      <input type="text" name="name" placeholder="name" required>
      <input type="password" name="password" placeholder="password" required>
      <input type="submit" name="login" value="login">
    </div>
    </form>



<h2 class="hello-text-lg" >Welcome to Bookinist</h2> 
<h4 class="hello-text-sm">start building your library now.</h4>

 </div>