<!DOCTYPE html>
<html>
<head>
  <title>Bookinist</title>
  <!-- <link rel="stylesheet" type="text/css" href="css/profile.css"> -->
</head>
<body>
<nav>
    <div class="container">
      </div>
</nav>

  <%= yield %>

</body>

<footer>

</footer>

</html>