<link rel="stylesheet" type="text/css" href="/css/style.css">

<div class="container-oops">
      <h3 class="hello-text-sm">Oops, looks like you are lost</h3>
      </div>
<a href="/"><div class="oop-text"><h2>Go home</h2></div></a>
